// For Mobile-----------------------------

@media screen and (min-width: 390px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding: 0 62px 0 106px;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .logo {
    margin-top: 32px;
  }

  .slogan {
    font-family: Sofia Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 4%;
    text-align: center;
    margin-top: 35px;
  }

  .infoBlock {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .listContainer {
    width: 80vw;
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .list:nth-child(2) {
    padding: 18px 0;
  }
  .icons {
    padding-right: 10px;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    font-family: Sofia Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 3%;
  }

  .banner {
    width: 400px;
    height: auto;
  }

   // reviews

   .revContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
    box-shadow: 0px 3px 10px 0px #00000014;
    width: 388px;    
    overflow: hidden;
    position: absolute;
    left: 106px;
    bottom: -10%;
    z-index: 3;
    background-color: white;
    border-radius: 8px;
    
  }

  .reviewsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-left: 19px;
  }

  .revNameBlock {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .revName {
    font-family: Sofia Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    color: var(--second-text-color);
    padding-right: 20px;
  }
  .revStar {
    font-family: "Suisse Int'l";
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2%;
    color: var(--second-text-color);
  }

  .revText {
    font-family: "Suisse Int'l";
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 4%;
    color: var(--second-text-color);
    padding: 10px 12px;
  }


}

// For Dsktop--------------------------------
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding: 0 62px 0 106px;
    position: relative;
  }

  .logo {
    margin-top: 32px;
  }

  .slogan {
    padding-top: 62px;
  }

  .infoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .listContainer {
    width: 470px;
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .list:nth-child(2) {
    padding: 18px 0;
  }
  .icons {
    padding-right: 10px;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    margin-left: 10px;
  }

  // reviews

  .revContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
    box-shadow: 0px 3px 10px 0px #00000014;
    width: 416px;
    height: 172px;
    position: absolute;
    left: 106px;
    bottom: -18%;
    z-index: 3;
    background-color: white;
    border-radius: 8px;
    // transform: translateX(25%);
  }

  .reviewsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-left: 19px;
  }

  .revNameBlock {
    display: flex;
  }

  .revName {
    font-family: Sofia Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 3%;
    color: var(--second-text-color);
    padding-right: 20px;
  }
  .revStar {
    font-family: "Suisse Int'l";
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2%;
    color: var(--second-text-color);
  }

  .revText {
    font-family: "Suisse Int'l";
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 4%;
    color: var(--second-text-color);
    padding: 10px 18px;
    text-align: justify;
  }
}
